body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Center align text */
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #5A5AFF;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: #fff;
    background-color: #5A5AFF;
    text-decoration: none;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
